body {
  min-width: 320px;
}

#mainContentContainer {
  padding: 20px 50px;
}

.logo {
  width: 80px;
}

/*****************
*                *
*  Start Index   *
*                *
*****************/

.container {
  position: relative;
  /* height:200px; */
}

.noobToPro {
  text-align: center;
  position: absolute;
  width: 100%;
}

.container .col-sm {
  height: 200px;
}

/*****************
*                *
*    End Index   *
*                *
*****************/

/***************
*              *
*  START GAME  *
*              *
***************/

#lastZ {
  opacity: 0;
}

#gameContainer {
  min-height: 200px;
}

#gameContainer:hover {
  cursor: url(./images/white_crosshair.png) 10 10, auto;
}

#gameStats {
  display: flex;
  justify-content: space-between;
  font-family: "Teko", sans-serif;
  font-size: 2em;
  padding: 10px;
}

#gameStats p {
  padding: 0;
  margin: 0;
}

.night {
  height: 10%;
  min-height: 75px;
  background: url(./images/backgroundv2.jpg);
  background-size: auto 100%;
  border-radius: 10px 10px 0 0;
}

#game {
  border-radius: 0 0 10px 10px;
  min-height: 250px;
  height: 50%;
  width: 100%;
  position: relative;
  display: flex;
  background-color: #39422d;
  flex-direction: column;
  align-items: center;
  /* background: url(./images/background.png); */
  background-size: 100% auto;
}

#startCountDown {
  visibility: hidden;
  font-size: 3em;
  text-align: center;
  flex-grow: 1;
}

.weapon img {
  width: 100px;
  z-index: 999;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
}

#targetContainer {
  position: absolute;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}

#target {
  background-size: 100% 100%;
  z-index: 0;
}

#zombieImg {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
}

#zombieImg:hover {
  cursor: url(./images/red_crosshair.png) 10 10, auto;
}

#zombieImg:target {
  cursor: url(./images/clicked.png) 10 10, auto;
}

#gameStart {
  max-width: 300px;
  margin: 20px auto;
}

/***************
*              *
*   END GAME   *
*              *
***************/

/*****************
*                *
*  Start SELECT  *
*                *
*****************/

input[type="radio"][value="apocalypse"],
input[type="radio"][value="apocalypse"]:checked {
  display: none;
}

.gamesSelectionForm {
  width: 100%;
  min-width: 200px;
  max-width: 500px;
  margin: 0 auto;
}

.gamesSelectionForm h5 {
  text-align: center;
}

.gameModeSelection {
  display: flex;
  margin: 20px 0;
}

.gameModeSelection .btn {
  width: 50%;
  margin-right: 5px;
}

.gameModeSelection .btn:last-child {
  margin-right: 0px;
}

.gameDifficultySelection {
  margin: 10px 0 20px 0;
}

.gameDifficultySelection input[type="radio"] {
  visibility: hidden;
}

.apocalypse-btn {
  opacity: 0;
}

.apocalypse-btn:hover {
  opacity: 1;
}

/***************
*              *
*  END SELECT  *
*              *
***************/

.user-scores {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.scoresHeader {
  margin: 20px 0 10px;
  text-align: center;
  text-shadow: 0 4px 0 rgba(100, 100, 100, 1), 0 8px 3px rgba(0, 0, 0, 0.7);
}

.score-info {
  flex-grow: 1;
  margin: 1%;
}

.scoreRank {
  font-size: 1.2em;
  font-weight: 1000;
}

.card-header {
  text-align: center;
}

th {
  text-align: center;
}

td {
  text-align: center;
}

a:hover,
button:hover,
.close:hover,
.btn:hover,
.navbar-toggler:hover {
  cursor: url(./images/zombie-cursor-sized.png), auto;
}

.loginSignUpContainer {
  max-width: 30rem;
  margin: 0 auto;
}

.innerLoginSignUpContainer {
  padding: 20px;
}

.First {
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(./images/background1.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

/* .Second {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#card{
  margin:5rem;
  max-width: 50%;
  font-size: .25rem;
} */
.homePage {
  width: 15rem;
  margin-top: -5rem;
  position: absolute;
}

.start {
  z-index: 5;
  text-align: center;
  margin-bottom: -10rem;
}

.start img:hover {
  transition: width 0.5s;
  width: 35%;
}

.start img {
  width: 30%;
  min-width: 25%;
  padding: 5px;
  transition: width 0.5s;
}

@media screen and (max-width: 380px) {
  .card tr {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 420px) {
  #gameStats {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 450px) {
  .scoresHeader {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 580px) {
  #gameStats {
    font-size: 1.3em;
  }
}

.instructions {
  margin-top: 12.4rem;
  z-index: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
}

.instructions img:hover {
  transition: width 0.5s;
  width: 35%;
}

.instructions img {
  width: 30%;
  height: 30%;
  min-width: 25%;
  padding: 5px;
  border-radius: 10px;
  transition: width 0.5s;
}

.table th,
.table td {
  padding: 5px 0;
}

.quotes {
  font-size: 1rem;
}

.allKills {
  text-align: center;
  text-shadow: 0 2px 0 rgba(100, 100, 100, 1), 0 8px 3px rgba(0, 0, 0, 0.7);
}
@media screen and (max-width: 400px) {
  .allKills {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 641px) {
  .homePage {
    width: 30rem;
  }
  .start {
    text-align: center;
    margin-bottom: -23rem;
  }
  .start img {
    text-align: center;
    width: 8rem;
    transition: width 0.5s;
  }
  .start img:hover {
    transition: width 0.5s;
    width: 10rem;
  }
  .instructions img:hover {
    transition: width 0.5s;
    width: 10rem;
  }

  .instructions img {
    width: 8rem;
    margin-top: 12rem;
  }
  .quotes {
    font-size: 2rem;
  }
}

@media screen and (min-width: 821px) {
  .homePage {
    width: 40rem;
  }
  .instructions img:hover {
    /* background-color: rgba(233, 153, 4, 0.753); */
    transition: width 0.5s;
    width: 12rem;
  }
  .instructions img {
    width: 10rem;
    margin-top: 20rem;
  }
  .start img:hover {
    /* background-color: rgba(233, 153, 4, 0.753); */
    transition: width 0.5s;
    width: 12rem;
  }
  .start img {
    width: 10rem;
    text-align: center;
  }
  .start {
    margin-bottom: -30rem;
  }
  .quotes {
    font-size: 2rem;
  }
}
